# Texas Instruments Hercules MCU Family
#
# Copyright (c) 2023 Texas Instruments Incorporated
# Copyright (C) 2023 Zoltan Dolensky
#
# SPDX-License-Identifier: Apache-2.0

config BOARD_TI_LAUNCHXL2_TMS570LC4357
	bool "TI Hercules TMS570LC43x LaunchPad Development Kit"
	depends on SOC_TI_TMS570LC4357
